@layer bmates.components {
    .bm-switch { position: relative; display: inline-flex; gap: 1rem; line-height: 1.2
    }
    .bm-switch--align-start { align-items: flex-start
    }
    .bm-switch--align-center { align-items: center
    }
    .bm-switch--align-end { align-items: flex-end
    }
    .bm-switch--disabled { opacity: .5
    }
    .bm-switch__input { position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; padding: 0; border: 0; white-space: nowrap
    }
    .bm-switch__label { font-weight: 500
    }
    .bm-switch__box { position: relative; display: inline-block; flex: none; border-radius: var(--radius-full); background: var(--gray-200); cursor: pointer; text-indent: -9999px; transition: background-color var(--transition)
    }
    .bm-switch__box::after { position: absolute; top: var(--bm-switch-inset); left: var(--bm-switch-inset); width: var(--bm-switch-knob); height: var(--bm-switch-knob); content: ''; border-radius: var(--radius-full); background: var(--background); transition: left var(--transition)
    }
    .bm-switch__box:focus-visible { outline: 0; border-color: var(--focus-border); box-shadow: var(--focus-shadow)
    }
    .bm-switch__box--disabled { cursor: not-allowed
    }
    .bm-switch__box--size-sm { --bm-switch-inset: .125rem; --bm-switch-knob: .75rem; width: 2rem; height: 1rem
    }
    .bm-switch__box--size-md { --bm-switch-inset: .125rem; --bm-switch-knob: 1.25rem; width: 3rem; height: 1.5rem
    }
    .bm-switch__box--size-lg { --bm-switch-inset: .25rem; --bm-switch-knob: 1.5rem; width: 4rem; height: 2rem
    }
    .bm-switch__box--size-xl { --bm-switch-inset: .25rem; --bm-switch-knob: 2.5rem; width: 6rem; height: 3rem
    }
    .bm-switch__box--checked::after { left: calc(100% - var(--bm-switch-inset) - var(--bm-switch-knob))
    }
    .bm-switch__box--checked.bm-switch__box--variant-primary { background:var(--primary)
    }
    .bm-switch__box--checked.bm-switch__box--variant-secondary { background:var(--secondary)
    }
    .bm-switch__box--checked.bm-switch__box--variant-success { background:var(--success)
    }
    .bm-switch__box--checked.bm-switch__box--variant-danger { background:var(--danger)
    }
    .bm-switch__box--checked.bm-switch__box--variant-warning { background:var(--warning)
    }
    .bm-switch__box--checked.bm-switch__box--variant-info { background:var(--info)
    }
}
