@layer bmates.base {
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  html {
    scrollbar-gutter: stable;
  }

  body {
    margin: 0;
    color: var(--text);
    background: var(--background);
    font-family: var(--font-sans), 'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: var(--font-size-body);
    line-height: var(--line-height-normal);
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
  }

  ::selection,
  ::-moz-selection {
    color: white;
    background: var(--primary);
  }
}
