@layer bmates.components {
    .bm-checkbox { display: inline-flex; gap: 1rem; line-height: 1.2
    }
    .bm-checkbox--align-start { align-items: flex-start
    }
    .bm-checkbox--align-center { align-items: center
    }
    .bm-checkbox--align-end { align-items: flex-end
    }
    .bm-checkbox--disabled { opacity: .5
    }
    .bm-checkbox__input { position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; padding: 0; border: 0; white-space: nowrap
    }
    .bm-checkbox__box { display: inline-flex; flex: none; width: 1rem; height: 1rem; border: 1px solid var(--primary); border-radius: var(--radius-xs); cursor: pointer; transition: background-color var(--transition), border-color var(--transition)
    }
    .bm-checkbox__box svg { visibility: hidden; fill: none; stroke: var(--primary-fg); stroke-width: 2px
    }
    .bm-checkbox__box--checked { background: var(--primary)
    }
    .bm-checkbox__box--checked svg { visibility: visible
    }
    .bm-checkbox__box--disabled { cursor: not-allowed
    }
    .bm-checkbox__box:focus-visible { outline: 0; box-shadow: var(--focus-shadow)
    }
    .bm-checkbox__label { font-weight: 500
    }
}
